@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    position: relative;
}
.menu{
    background-color: black;
    padding: 20px;
    width: 100vw;
    height: 100px;
    z-index: 20;
    position: fixed;
    top:0;
    left:0;
}
.rightmenu{
    display: inline-block;
    float: right;
}
.rightmenu a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
    display: inline-block;
}
.rightmenu a:hover{
    color: #FFC997;
    transform: scale(1.2);
}
.mainsection {
    height: 100vh;
    background: linear-gradient(#DB7E7E, #FFC997);
    position: relative;
    z-index: 10;
}
.firstpart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
    z-index: 15;
}
.firstpart h1 {
    font-size: 100px;
    color: white;
    text-shadow: 10px 10px 0 #E06161;
}
button {
    background: white;
    color: black;
    box-shadow: 10px 10px 0#E06161;
    border-radius: 90px;
    border: none;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}
.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.background img:nth-child(1) {
    position: absolute;
    left: 40%;
    top: 200px;
    animation: Right 7s linear 0s infinite normal;
}
.background img:nth-child(2) {
    position: absolute;
    left: 50%;
    bottom: 15%;
    animation: LeftDown 6s linear 0s infinite normal;
}
.background img:nth-child(3) {
    position: absolute;
    left: -5%;
    bottom: 0%;
    animation: UpLeft 8s linear 0s infinite normal;
}
.background img:nth-child(4) {
    position: absolute;
    right: -3%;
    top: -10%;
    animation: Rotate 4s linear 0s infinite normal;
}
.background img:nth-child(5) {
    position: absolute;
    left: -3%;
    top: -20%;
    animation: Rotmove 10s linear 0s infinite normal;
}
.background img:nth-child(6) {
    position: absolute;
    right: -10%;
    bottom: -10%;
    animation: Right 5s linear 0s infinite normal;
}
.background img:nth-child(7) {
    position: absolute;
    left: 10%;
    bottom: -3%;
    animation: UpLeft 8s linear 0s infinite normal;
}
@keyframes UpLeft{
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(40px,80px);
    }
    100% {
        transform: translate(0,0);
    }
}
@keyframes Right{
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(230%,0px);
    }
    100% {
        transform: translate(0,0);
    }
}
@keyframes LeftDown{
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    50% {
        transform: translate(200px,-180px) rotate(180deg);
    }
    100% {
        transform: translate(0,0) rotate(369deg)
    }
}
@keyframes Rotate{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(369deg)
    }
}
@keyframes Rotmove{
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    50% {
        transform: translate(80px,200px) rotate(180deg);
    }
    100% {
        transform: translate(0,0) rotate(369deg)
    }
}
h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.about {
    padding: 115px 0;
}
.about p {
    line-height: 30px;
    font-size: 20px;
}
.conteiner {
    max-width: 1400px;
    margin: auto;
}
.todo {
    background: linear-gradient(7deg, #DB7E7E 18.07%, #FFC997 70%, #FFFFFF 70%);
    ;
}
.left {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.right {
    width: 45%;
    display: inline-block;
    margin-left: 5%;
}
.left p {
    background-color: white;
    box-shadow: 10px 10px 0 #E06161;
    border-radius: 15px;
    padding: 25px;
    line-height: 30px;
    font-size: 20px;
}
.uslugi_item {
    display: inline-block;
    width: 28%;
    border: 5px solid #FFC997;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: 0 15px;
    height: 450px;
    vertical-align: top;
    background-color: white;
}
.uslugi_item hr {
    background-color: #E06161;
    height: 2px;
    border: none;
    border-radius: 15px;
    width: 60%;
    margin: 15px auto;
}
.uslugi_item h3 {
    margin: 15px 0;
}
.uslugi {
    text-align: center;
    background: linear-gradient(340.62deg, #FFFFFF 45.63%, #DB7F7E 45.64%);
}
.quality_item {
    border: 5px solid #FFC997;
    border-radius: 15px;
    text-align: left 12%;
    padding: 15px;
    margin-top: 30px;
    width: 65%;
    box-shadow: 5px 5px 0 #E06161;
    margin-left: 120px;
    background-color: white;
}
.quality_item:nth-child(2) {
    margin-left: 280px;
}
.quality_item ul {
    list-style: circle;
    padding: 15px;
}
.quality_items {
    margin: auto;
    width: fit-content;
}
.quality, .todo, .uslugi, .work {
    padding: 100px 0;
    position: relative;
}
.adv1 {
    left: 0;
    top: 0;
    z-index: -99;
}
.adv2 {
    left: 0;
    top: 0;
    z-index: -99;
}
.work_image img {
    width: 40%;
    border: 5px solid #E06161;
    border-radius: 30px;
}
.work_image {
    margin: auto;
    text-align: center;
}
.nam {
   text-align: center;
   padding: 100px 0;
   background: linear-gradient(#DB7E7E, #FFC997);
}
